body{
    background-image: url('flowerpic1.avif');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding: 20px;
    background-color: bisque;
    text-align: center;
    color:black;
    border-radius: 20px;
}
p{
    border-style: solid;
    border-color: rgb(231, 76, 76);
    border-width: 10px;
    border-radius: 20px;
    color:rgb(210, 233, 176);

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    width:350px;
}
